/* google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Orbitron:wght@400..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* global style */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}